@page
@model CRUD_Classes.Pages.Account.Manage_ClassesModel
@{
    ViewData["Title"] = "Manage_Classes";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Manage_Classes</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.classModels[0].Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.classModels[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classModels[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classModels[0].EndTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.classModels)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>

                <form method="post">
                    <button asp-route-id="@item.Id" class="btn btn-danger">Delete</button>
                </form>



            </td>
        </tr>
        }


        


